.itemsList{
  background-color: #fff;
}
.Ih2{
  text-align: center;  
}

.Fdiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Fdiv > h3{
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.iList{
  /* width: 600px; */
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
.iImg {
  width:200px;
  height: 300px;
}

/* ===========PRODUCT========== */
 .pContainer{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: 0px;
  padding: 0px;
 }
 .pImg{
  width: 300px;
  height: 200px;
 }
 .pContainer > p{
  margin-top: 0px
 }
 .pBody{
  display: flex;
  justify-content: center;
  flex-direction: column;

 }

 /* =========HOME======== */
 .hIntro{
    width: 300px;
    display: flex;
    flex-direction: row;
 }
 .hImg{
    width: 300px;
    height: 500px;
 }
 .slide2nd{
    /* width: 100px; */
     display: flex;
    flex-direction: row;
 }
 .img2nd{
    width: 450px;
    height: 500px;
    margin-right: 10px;
    display: flex;
    row-gap: 10px;
    margin-bottom: 40px;
 }
 .hH2{
    margin-bottom: 70px;
    text-align: center;
    margin-top: 50px;
 }