.itemsList{
  background-color: #fff;
}
.Ih2{
  text-align: center;  
}

.Fdiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.Fdiv > h3{
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.iList{
  /* width: 600px; */
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}
.iImg {
  width:200px;
  height: 300px;
}

/* ===========PRODUCT========== */
 .pContainer{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  margin: 0px;
  padding: 0px;
 }
 .pImg{
  width: 300px;
  height: 200px;
 }
 .pContainer > p{
  margin-top: 0px
 }
 .pBody{
  display: flex;
  justify-content: center;
  flex-direction: column;

 }